<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.0">
      
	 <!-- Specify Application Context with perc-context.properties -->
       <context-param>
	   	<param-name>contextClass</param-name>
	  	<param-value>com.percussion.delivery.utils.spring.PSConfigurableApplicationContext</param-value>
	</context-param>
    <context-param>
            <param-name>log4jConfiguration</param-name>
            <param-value>file:///${sys:catalina.base}/conf/perc/forms-log4j2.xml</param-value>
    </context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <filter>
      <filter-name>PSInputValidatorFilter</filter-name>
      <filter-class>com.percussion.utils.servlet.PSInputValidatorFilter</filter-class>
   </filter>
   
   <filter-mapping>
      <filter-name>PSInputValidatorFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

    <filter>
        <filter-name>PSAddResponseHeaderFilter</filter-name>
        <filter-class>com.percussion.tomcat.filters.PSAddResponseHeaderFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PSAddResponseHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Jersey Spring Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.percussion.delivery.forms.PSFormsApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
   <servlet-mapping>
      <servlet-name>Jersey Spring Web Application</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>


      <!-- Security constraints -->
    <security-constraint>
      <web-resource-collection>
         <web-resource-name>NoSecure</web-resource-name>
         <url-pattern>/forms/collect/*</url-pattern>
      </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NoSecure</web-resource-name>
            <url-pattern>/forms/csrf</url-pattern>
        </web-resource-collection>
      <user-data-constraint>
         <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
    <security-constraint>
      <web-resource-collection>
         <web-resource-name>Secure</web-resource-name>
         <url-pattern>/forms/form/*</url-pattern>
         <http-method>GET</http-method>
         <http-method>DELETE</http-method>
      </web-resource-collection>
      <auth-constraint>
         <role-name>deliverymanager</role-name>
      </auth-constraint>
      <user-data-constraint>
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
   </security-constraint>
       <security-constraint>
      <web-resource-collection>
         <web-resource-name>forms old site update method</web-resource-name>
         <url-pattern>/forms/updateOldSiteEntries/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
         <role-name>deliverymanager</role-name>
      </auth-constraint>
      <user-data-constraint>
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
   </security-constraint>
   <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>forms</realm-name>
   </login-config>
   <security-role>
      <role-name>deliverymanager</role-name>
   </security-role> 
   
</web-app>
