

.perc-tooltip .perc-tooltip-content {
	font-size : 11px;
	background : white;
	padding : 5px 10px 5px 10px;
	border : lightgrey 1px solid;
	white-space : nowrap;
	color : black;
	cursor : text;
}

.perc-tooltip.perc-tooltip-arrow-up .perc-tooltip-arrow-top {
	height : 10px;
	display : none;
	text-align : center;
	position : absolute;
	top : -4px;
}

.perc-tooltip.perc-tooltip-arrow-down .perc-tooltip-arrow-bottom {
	height : 10px;
	display : block;
	text-align : center;
	position : absolute;
	bottom : -9px;
}

