<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<import resource="classpath:com/percussion/soln/p13n/delivery/snipfilter/impl/p13n-snipfilter-beans.xml" />
	
	<bean id="servletPropertyConfigurer"
		class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer">
		<property name="location" value="classpath:soln-p13n.properties" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>

	<bean id="visitorTrackingHttpService" autowire="byType" 
		class="com.percussion.soln.p13n.tracking.web.VisitorTrackingWebMediator">
		<property name="usingCookies" value="${soln.p13n.track.usingCookies}" />
		<property name="usingSession" value="${soln.p13n.track.usingSession}" />
		<property name="usingRequestParameter" value="${soln.p13n.track.usingRequestParameter}" />
	</bean>
	
	<bean id="visitorTrackingService" autowire="byType"
		class="com.percussion.soln.p13n.tracking.impl.VisitorTrackingService">
		<property name="visitorProfileDataService" ref="visitorProfileDataService" />
   	</bean>
	
	<bean id="deliveryService" autowire="byName"
		class="com.percussion.soln.p13n.delivery.impl.SpringDeliveryService">
	</bean>
	
</beans>
