<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percusssion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="propertyPlaceholderProps"
          class="com.percussion.delivery.utils.spring.PSPropertiesFactoryBean">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="autoSecure" value="true"/>
        <property name="locations">
            <!-- One or more locations of the property files. Properties with
               the same name override based on the order the file appears in the list last
               one defined wins -->
            <list>
                <value>perc-email.properties</value>
            </list>
        </property>

        <!-- Local properties to default to if no file exists or the properties
           do not exist in the file DO NOT USE THESE FOR PRODUCTION, put them in the
           properties file where the password will be encrypted -->
        <property name="properties">
            <props>
                <!-- default properties for email service -->
                <prop key="email.hostName">smtp.gmail.com</prop>
                <prop key="email.portNumber">587</prop>
                <prop key="email.userName">percdev</prop>
                <prop key="email.password">pdevelopment</prop>
                <prop key="email.TLS">true</prop>
                <prop key="email.fromAddress">percdev@gmail.com</prop>
                <prop key="email.fromName">Percussion Engineering</prop>
                <prop key="email.sslPort">465</prop>
                <prop key="email.bounceAddress">percdev@gmail.com</prop>
            </props>
        </property>
    </bean>

    <bean id="propertyConfigurer"
          class="com.percussion.delivery.utils.spring.PSPropertyPlaceholderConfigurer">
        <property name="properties" ref="propertyPlaceholderProps"/>
    </bean>

    <!-- Email bean -->
    <bean id="emailProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="email.hostName">${email.hostName}</prop>
                <prop key="email.portNumber">${email.portNumber}</prop>
                <prop key="email.userName">${email.userName}</prop>
                <prop key="email.password">${email.password}</prop>
                <prop key="email.TLS">${email.TLS}</prop>
                <prop key="email.fromAddress">${email.fromAddress}</prop>
                <prop key="email.fromName">${email.fromName}</prop>
                <!-- Add the sslPort property with proper port to enable ssl -->
                <prop key="email.sslPort">${email.sslPort}</prop>
                <prop key="email.bounceAddress">${email.bounceAddress}</prop>
            </props>
        </property>
    </bean>

    <bean id="emailHelper" class="com.percussion.delivery.utils.PSEmailHelper" autowire="constructor">
        <constructor-arg ref="emailProperties"/>
    </bean>
</beans>
