

#perc-add-variable-button {
    width: auto !important;
    height : 20px;
    position : absolute;
    right : 0px;
    top : 0px;
    cursor : pointer;
}

#perc-add-variable-button:hover {
}

#perc-global-variables-gadget .dataTables_wrapper {
    padding-top : 40px;
}
body * {
    font-family: 'Open Sans', sans-serif;
}
