a:hover {
	color:#cc3300;
	background-color:#ffffff;
	text-decoration:underline;
	}
.bodyblacksmall {
	font-weight:normal;
	font-size:10px;
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	}
.bodyblack {
	font-weight:normal;
	font-size:12px;
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	}
h1 {
	font-weight:bold;
	font-size:14px;
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	}
.bodyblackbig {
	font-weight:normal;
	font-size:14px;
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	}
.parent {
	font-weight:bold;
	font-size:11px;
	color:#0046d5;
	font-family:arial, helvetica, sans-serif;
	text-decoration:none;
	}
.child {
	font-size:11px;
	color:#333333;
	font-family:arial, helvetica, sans-serif;
	text-decoration:none;
	}
.metatitle {
	font-weight:bold;
	font-size:13px;
	color:#0046d5;
	font-family:arial, helvetica, sans-serif;
	text-decoration:none;
	}
.metasubtitle {
	font-weight:bold;
	font-size:12px;
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	text-decoration:none;
	}
