.PSmenuitem
{
    FONT-SIZE: 8pt;
    COLOR: Black;
	FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.PSnavmenuitem
{
    FONT-SIZE: 8pt;
    COLOR: Black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.PSpopupmenu
{
    BORDER-RIGHT: ButtonHighlight 2px outset;
    BORDER-TOP: ButtonHighlight 2px outset;
    LEFT: 0px;
    VISIBILITY: hidden;
    BORDER-LEFT: ButtonHighlight 2px outset;
    BORDER-BOTTOM: ButtonHighlight 2px outset;
    POSITION: absolute;
    TOP: 0px;
    BACKGROUND-COLOR: #d4d0c8
}
.PSbreadcrumb
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	padding:3px;
	vertical-align: bottom;
}
.PStopnavbar
{
    BORDER-RIGHT: ButtonHighlight 12px outset;
    BORDER-TOP: ButtonHighlight 12px outset;
    BORDER-LEFT: ButtonHighlight 12px outset;
    BORDER-BOTTOM: ButtonHighlight 12px outset;
}
.PSactiveitemborder
{
    BORDER-RIGHT: Green 1px solid;
    BORDER-TOP: Green 1px solid;
    BORDER-LEFT: Green 1px solid;
    BORDER-BOTTOM: Green 1px solid;
}
.PSactiveitemborder2
{
    BORDER-RIGHT: Blue 1px solid;
    BORDER-TOP: Blue 1px solid;
    BORDER-LEFT: Blue 1px solid;
    BORDER-BOTTOM: Blue 1px solid
}
