###################################
# perc-datasources.properties
#
#    Properties specific for form-processor service, database and hibernate properties.
#    Defaults to derby database.

########################
# data-source properties
db.username=test
db.password=ENC(2sU2TZ627xkhnsXip/5mgw\=\=)

# For Oracle, the schema should be the same as the db.username property.
# For MySQL you may use an empty value: db.schema=
# For MS SQL you may use db.schema=dbo
# For Derby you may use db.schema=APP
db.schema=APP

# the JDBC driver class name
# "Oracle" - oracle.jdbc.driver.OracleDriver
# "MySQL"/"MariaDB"  - org.mariadb.jdbc.Driver
# "MS SQL" - com.microsoft.sqlserver.jdbc.SQLServerDriver
# "Derby"  - org.apache.derby.jdbc.ClientDriver
# "Microsoft SQL Server - Native JDBC" -  com.microsoft.sqlserver.jdbc.SQLServerDriver
jdbcDriver=org.apache.derby.jdbc.ClientDriver

# the connection URL
# "Oracle" -  jdbc:oracle:thin:@<host>:<port>/<service>
#         Eg: jdbc:oracle:thin:@10.10.10.61:1521/ORCL
# "MySQL" / "MariaDB"  -  jdbc:mysql://<host>:<port>/percforms?useUnicode=true&characterEncoding=UTF8
#         Eg: jdbc:mysql://localhost:3306/percforms?useUnicode=true&characterEncoding=UTF8
# "MS SQL" -  jdbc:sqlserver://<host>:<port>/<database>
#         Eg: jdbc:sqlserver://localhost/delivery_database
# "Derby"  -  jdbc:derby://<host>:<port>/<database>
#         Eg: jdbc:derby:percforms;create=true
#             jdbc:derby://localhost:1528/percforms;create=true
# Note that : and = must be escaped with \
# "Microsoft SQL Server Native JDBC" - jdbc:sqlserver\://sqlserverhost\:1433;databaseName\=dtsdb
jdbcUrl=jdbc\:derby\://localhost\:1528/percdts;create\=true
maximumPoolSize=10


######################################
# hibernate session factory properties

# name of the data-source bean
datasource=percDataSource

# name of the bean with hibernate properties
hibernateProperties=percHibernateProperties

# Dialect for current database type. 
# The following is a list of dialects that may be used for different databases / drivers 
# "Oracle" - org.hibernate.dialect.Oracle10gDialect
# "MySQL" / "MariaDB"  - org.hibernate.dialect.MySQL5InnoDBDialect
# "MS SQL" - com.percussion.delivery.rdbms.PSUnicodeSQLServerDialect
# "MS SQL" - org.hibernate.dialect.SQLServerDialect
# "Derby"  - com.percussion.delivery.rdbms.DerbyTenOneFourDialect
hibernate.dialect=com.percussion.delivery.rdbms.DerbyTenOneFourDialect

# hibernate query substitutions should be EMPTY for other databases, except for derby
hibernate.query.substitutions=true 'T', false 'F'
hibernate.id.new_generator_mappings=false
