

.perc-blog-list-calicon {
  margin-right: 15px;
  text-align: center;
  padding: 3px;
  text-transform: uppercase;
  float: left;
  display: inline-block;
  background-color: #585858;
  color: #FFF;
}
.perc-blog-list-calicon-month {
  padding: 5px 15px;
}
.perc-blog-list-calicon-day {
  background-color: #FFF;
  color:#585858;
  width: 100%;
  display: block;
  font-size: 25px;
  padding: 5px 0px;
}
