

body {
	font-family : Verdana;
	font-size : 11px;
	height: 100%;
}

.perc-dialog input {
	width : 13px;
}

.perc-dialog-controls {
	margin-top : 14px;
	margin-left : 66px;
}

.perc-dialog-control {
	float : left;
}

.perc-dialog-instructions {
	font-family : Verdana,Arial,sans-serif;
	font-weight : normal;
	font-size   : 11px;
	color       : #252739;
	margin-left : 14px;
	margin-top  : 18px;
}

.perc-site-name {
	font-weight : bold;
}

.perc-dialog .ui-dialog-content {
	padding : 0px;
}

#perc-dialog-reject {
	margin-left : 20px;
}
body * {
	font-family: 'Open Sans', sans-serif;
}
