span.dynatree-expander {
    margin: -1px;
}

ul.dynatree-container {
    background-color: transparent;
/*    overflow : hidden;*/
}

ul.dynatree-container li {
    background-color: transparent;
    list-style: none outside none;
    margin: 0;
    background-image: none;
    background-position: 0 0;
/*
    padding: 1px 0 0;
*/
}

ul.dynatree-container li li {
    padding: 0 0 0 13px;
}

ul.dynatree-container li {
    padding : 0px;
}

ul.dynatree-container a {
    color: #0099CC;
    margin: 0 0 0 0px;
    text-decoration: none;
    vertical-align: top;
}
span.dynatree-node a {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

span.dynatree-icon {
     display:none
}

span.dynatree-connector {
    background-image: none;
    margin: -1px;
}

.dynatree-exp-cl span.dynatree-expander, span.dynatree-expander {
   background-image: url('buttonBlueSmallPlus.gif');
   background-position: center bottom;
}

.dynatree-exp-el span.dynatree-expander, .dynatree-exp-edl span.dynatree-expander,
.dynatree-exp-e span.dynatree-expander, .dynatree-exp-ed span.dynatree-expander
{
    background-image: url('buttonBlueSmallMinus.gif');
    background-position: center bottom;
}

.perc-category-list-structure span.dynatree-active a,
.perc-category-list-static span.dynatree-active a {
    background-color:none;
    color:#0099CC;
}
ul.dynatree-container a:hover {

   background: none:
    border-color: none
}
span.dynatree-active a {
    background-color: none;
    color: #0099CC;
}

span.dynatree-selected a {

    font-style:normal;
} 

span.dynatree-checkbox {

    margin-right:5px;
}

ul li {
    line-height: 23px;
    list-style-type: none;
    font-family: Verdana;
    font-size: 11px;
}

ul.dynatree-container li {
   /* background-color: #F5F5F5;
    border-bottom: 1px solid #E6E6E9;*/

}
span.dynatree-folder a {
    font-weight:normal;
}

a, a:visited {
    font-size:11px;

}

#tree-container {
   
    width:300px;
    height:250px;
    overflow:auto;
}
#page_categories_tree-tree {

    color: #0099CC;
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    border-color: #CECFCE #CECFCE #D6D7DE #D6D7DE;
    border-style: solid;
    border-width: 1px;  
    background-color:#F5F5F5;
    margin-top:5px;
}


ul.dynatree-container {

    border:none;
    padding:0px 5px;;
    margin:0px;
    background-image: url(finderTreeBackground.jpg);
    background-repeat: repeat;

}

ul.dynatree-container a {
    color: #0099CC;
    margin: 0 0 0 0;
    text-decoration: none;
    vertical-align: top;

}
span.dynatree-node {
    display: block;
    height: 23px;
}

span.dynatree-checkbox {
    background-position: 0 -32px;
    margin-left: 3px;
    margin-top: -3px;
    vertical-align: middle;
}

ul.dynatree-container a:hover {
    background: none repeat scroll 0 0 transparent;
    border-color: transparent;
    border:none;
}

ul.dynatree-container a:focus, span.dynatree-focused a:link {
    background-color: transparent;
}

ul.dynatree-container span.dynatree-active a {
    background-color: transparent !important;
    color: #0099CC !important;
}
