###########################################
#Start EMS Calendar Integration Properties
###########################################
#############################################
# A user name with API access to the EMS server
# ems-api.user=
#############################################
#############################################
# The EMS user's password.  Wrap plain password in 
# ENC(mypassword) style and the server will encrypt
# the password when the instance is restarted.
# ems-api.password=
#############################################
#############################################
# The address to the remote EMS calendar server. Note that Java properties file rules
# apply and characters like : or = need to be escaped with \
# For example: http\://ems.myschool.edu/emsapi/service.asmx?wsdl
# ems-api.endpoint=
#############################################
#############################################
# The default time in seconds for the service
# to cache results from the EMS Server in seconds. 
# Default is 15 minutes or 900 seconds
############################################## 
# ems-api.cachettl=
#############################################
#End EMS Calendar Integration Properties
#############################################
# Master Calendar API integration
# ems.mc.api.user=
# ems.mc.api.password=
# ems.mc.api.endpoint=
#############################################
#End EMS Event Integration Properties
#############################################

