<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percussion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

   <bean id="propertyPlaceholderProps"
         class="com.percussion.delivery.utils.spring.PSPropertiesFactoryBean">
      <property name="ignoreResourceNotFound" value="true" />
      <property name="autoSecure" value="true" />
      <property name="securedProperties">
         <list>
            <value>cacheMgr.password</value>
            <value>db.password</value>
            <value>email.password</value>
         </list>
      </property>
      <property name="locations">
         <!--
            One or more locations of the property files. Properties with
            the same name override based on the order the file appears in the list last
            one defined wins
         -->
         <list>
            <value>file:${catalina.home}/conf/perc/perc-encryption.properties</value>
            <value>file:${catalina.home}/conf/perc/perc-datasources.properties</value>
            <value>file:${catalina.home}/conf/perc/perc-email.properties</value>
            <value>file:${catalina.home}/conf/perc/perc-membership-services.properties</value>
            <value>file:${catalina.home}/conf/perc/perc-security.properties</value>
         </list>
      </property>

      <!-- THIS IS THE BEANS.xml IN THE membership/resources/WEB-INF/beans.xml LOCATION -->

      <!--
         Local properties to default to if no file exists or the properties
         do not exist in the file DO NOT USE THESE FOR PRODUCTION, put them in the
         properties file where the password will be encrypted
      -->
      <property name="properties">
         <props>
            <!-- default properties for database -->
            <prop key="jdbcUrl">jdbc:derby:${catalina.home}/derbydata/percmembership;create=true</prop>
            <prop key="jdbcDriver">org.apache.derby.jdbc.EmbeddedDriver</prop>
            <prop key="maximumPoolSize">10</prop>
            <prop key="db.username">test</prop>
            <prop key="db.password">test</prop>
            <prop key="db.schema">APP</prop>
            <prop key="datasource">percDataSource</prop>
            <prop key="hibernateProperties">percHibernateProperties</prop>
            <prop key="hibernate.dialect">com.percussion.delivery.rdbms.DerbyTenOneFourDialect</prop>
            <prop key="hibernate.query.substitutions">true 'T', false 'F'</prop>
            <prop key="hibernate.cache.use_second_level_cache">false</prop>
            <prop key="hibernate.cache.use_query_cache">false</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop>

            <prop key="session.timeout.mins">60</prop>
            <prop key="emailProperties">emailProperties</prop>
            <!-- default properties for caching manager -->
            <prop key="cacheMgr.cacheManagerHost">https://localhost:8443</prop>
            <prop key="cacheMgr.username">ps_manager</prop>
            <prop key="cacheMgr.password">newpassword</prop>
            <prop key="cacheMgr.cacheRegion">www.configure.me.com</prop>
            <prop key="cacheMgr.interRequestWait">30</prop>
            <prop key="cacheMgr.maxWait">360</prop>
            <!-- default properties for encrypting -->
            <prop key="encryption.type">ENC</prop>
            <!-- default properties for Spring Security -->
            <prop key="ContentSecurityPolicy">default-src 'self' *;</prop>

            <!-- default properties for email service -->
            <prop key="email.hostName"></prop>
            <prop key="email.portNumber"></prop>
            <prop key="email.userName"></prop>
            <prop key="email.password"></prop>
            <prop key="email.TLS"></prop>
            <prop key="email.fromAddress"></prop>
            <prop key="email.fromName"></prop>
            <prop key="email.sslPort"></prop>
            <prop key="email.bounceAddress"></prop>
         </props>
      </property>
   </bean>

   <bean id="propertyConfigurer"
         class="com.percussion.delivery.utils.spring.PSPropertyPlaceholderConfigurer">
      <property name="properties" ref="propertyPlaceholderProps" />
   </bean>

   <bean id="emailProperties"
         class="org.springframework.beans.factory.config.PropertiesFactoryBean">
      <property name="properties">
         <props>
            <prop key="email.hostName">${email.hostName}</prop>
            <prop key="email.portNumber">${email.portNumber}</prop>
            <prop key="email.userName">${email.userName}</prop>
            <prop key="email.password">${email.password}</prop>
            <prop key="email.TLS">${email.TLS}</prop>
            <prop key="email.fromAddress">${email.fromAddress}</prop>
            <prop key="email.fromName">${email.fromName}</prop>
            <!-- Add the sslPort property with proper port to enable ssl -->
            <prop key="email.sslPort">${email.sslPort}</prop>
            <prop key="email.bounceAddress">${email.bounceAddress}</prop>
         </props>
      </property>
   </bean>

   <import resource="perc-datasources.xml" />
   <import resource="file:${catalina.home}/conf/perc/*-datasources.xml" />
   <import resource="security.xml" />

   <!-- Auth provider bean -->
   <bean id="membershipAuthProvider"
         class="com.percussion.membership.services.impl.PSMembershipAuthProvider"
         autowire="constructor">
   </bean>

   <!-- Hibernate SessionFactory -->
   <bean id="membershipSessionFactory"
         class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
      <property name="dataSource">
         <ref bean="${datasource}" />
      </property>
      <property name="hibernateProperties">
         <ref bean="${hibernateProperties}" />
      </property>
      <property name="configLocation">
         <value>/WEB-INF/hibernate.cfg.xml</value>
      </property>
   </bean>

   <tx:annotation-driven transaction-manager="txManager"/>

   <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
      <property name="sessionFactory" ref="membershipSessionFactory" />
   </bean>

   <bean id="genericKeyDao"
         class="com.percussion.generickey.utils.services.rdbms.impl.PSGenericKeyDao">
      <property name="sessionFactory">
         <ref bean="membershipSessionFactory" />
      </property>
   </bean>

   <bean id="genericKeyService"
         class="com.percussion.generickey.utils.services.impl.PSGenericKeyService"
         autowire="constructor">
   </bean>

   <bean id="genericKeyRestService"
         class="com.percussion.generickey.utils.services.impl.PSGenericKeyRestService">
      <constructor-arg ref="genericKeyService" />
   </bean>

   <!-- Http client bean -->
   <bean id="httpClient"
         class="com.percussion.delivery.utils.security.PSHttpClient"
         autowire="constructor">
   </bean>

   <bean id="emailHelper" class="com.percussion.delivery.utils.PSEmailHelper" autowire="constructor">
      <constructor-arg ref="emailProperties"/>
   </bean>


   <bean id="membershipDao"
         class="com.percussion.membership.services.rdbms.impl.PSMembershipDao">
      <property name="sessionFactory">
         <ref bean="membershipSessionFactory" />
      </property>
   </bean>

   <bean id="membershipService"
         class="com.percussion.membership.services.impl.PSMembershipService"
         autowire="constructor">
      <property name="authProvider">
         <ref bean="membershipAuthProvider" />
      </property>
      <property name="emailHelper">
         <ref bean="emailHelper" />
      </property>
      <property name="sessionTimeoutMinutes">
         <value>${session.timeout.mins}</value>
      </property>
      <property name="client">
         <ref bean="httpClient" />
      </property>
      <property name="genericKeyService">
         <ref bean="genericKeyService" />
      </property>
   </bean>

   <bean id="membershipRestService"
         class="com.percussion.membership.services.impl.PSMembershipRestService">
      <constructor-arg ref="membershipService" />
   </bean>

</beans>
