

.perc-cookie-consent-table, .perc-cookie-consent-site-table {
    margin-bottom: 10px;
    font-size: 13px;
}


.perc-cookie-button-site {
    color: #133c55;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer !important;
}

.export-button a,a:visited {
    color: #428bca;
}

.perc-cookie-consent-table, .perc-cookie-consent-site-table thead th {
    cursor: pointer;
    color: #6C717C;
}

.cookie-consent-content .dataTables_wrapper {
    height: initial;
}

.cookie-consent-site-stats .dataTables_wrapper {
    height: initial;
}

#site-name-section {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    background: #E6E6E9;
    border: 1px solid black;
}

#perc-cookie-back-button {
    float: initial;
    margin-top: initial;
}

.advanced {
    margin-top: 13px;
}

.cookie-consent-advanced {
    margin-top: 10px;
}

.cookie-consent-delete-btn {
    margin-top: 10px;
}

.mmlib_table {
    margin-bottom: 10px;
}
body * {
    font-family: 'Open Sans', sans-serif;
}
