<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	
	<bean id="servletPropertyConfigurer"
		class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer">
		<property name="location" value="classpath:soln-p13n.properties" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>
	
	<bean id="deliveryContextFactory"
		class="com.percussion.soln.p13n.delivery.ds.DSDeliveryContextFactory">
		<property name="segmentService" ref="segmentService" />
		<property name="allowListItemInRequest" value="true" />
	</bean>
	
	
	<bean id="segmentService" class="org.codehaus.xfire.spring.remoting.XFireClientFactoryBean"
		lazy-init="true">
	    <property name="serviceClass">
	      <value>com.percussion.soln.segment.ISegmentService</value>
	    </property>
	    <property name="lookupServiceOnStartup" value="false" />
	    <property name="wsdlDocumentUrl">
	      <value>http://localhost:9992/Rhythmyx/solution/apps/SegmentService?WSDL</value>
	    </property>
	</bean>
	
	<bean id="visitorProfileDataService" 
	 	class="com.percussion.soln.p13n.tracking.impl.VisitorProfileDataService">
	 	<property name="visitorProfileDao" ref="visitorProfileObjectDao" />
	 </bean>
	 
	<bean id="visitorProfileObjectDao" lazy-init="true" class="com.percussion.soln.p13n.tracking.data.VisitorProfileObjectDao">
    	<property name="repository">
    		<bean class="com.percussion.soln.p13n.tracking.data.VisitorProfileResourceRepository" 
    			init-method="load" 
    			destroy-method="save">
    			<property name="resource" value="${soln.p13n.track.data.file}" />
    		</bean>
    	</property>
    </bean>
	
</beans>
