

/**
   CSS Style for the ViewPort widget. The visual layout of this widget is as follows:
   +--+----------------------------+--+
   |  .                            .  |
   |<<.     visible area           .>>|
   |  .                            .  |
   |  .                            .  |
   +--+----------------------------+--+

   and the HTML is as follows:

   <div class="perc_viewport">
     <div class="perc_viewport_left_button">&lt;&lt;</div>
     [[ Viewport Contents ]]
     <div class="perc_viewport_right_button">&gt;&gt;</div>
   </div>
j*/
.perc-viewport { overflow: hidden; margin-left: 20px; margin-right: 20px; }
.perc-viewport-left-button, .perc-viewport-right-button { cursor: pointer; position: absolute; top: 70px; }
.perc-viewport-left-button { left: 0px; }
.perc-viewport-right-button { right: 0px; }
