

/*
    root element for the scrollable. 
    when scrolling occurs this element stays still. 
*/ 
div.perc-scrollable { 
 
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 660px; 
    height: 112px;
    margin: 10px 0px 10px 0px; 
} 
 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.perc-scrollable div.perc-items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute; 
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.perc-scrollable div.perc-items div { 
    float:left; 
}

div.perc-scrollable div.perc-items .item{
   margin: 4px;
   padding: 2px;
} 

/* Buttons */

/* this makes it possible to add next button beside scrollable */
.perc-scrollable {
	float:left;	
}

div.perc-selected-item {
    background-color: #c0c0c0;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(../images/images/horizArrows_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:40px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }


/* disabled navigational button */
a.disabled {
	/* visibility:hidden !important; */		
}


