

.perc-wb-list-outer {
    margin: 0 10px;
}
.perc-wb-list-toolbar {
    width: 100%;
    margin: 20px 12px 10px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.perc-wb-list-toolbar td {
    vertical-align: middle;
}
.perc-wb-list-view-options{
    width:100px;
}
.ui-disabled #perc-wb-list-expander {
    color: #ccc;
}

#perc-wb-list-expander:hover {
    font-size: 15pt;
    color: #298AC0;
    background: transparent;
}

#perc-wb-list-expander {
    font-size: 15pt;
    -color: #399ECE;
    color: #133c55;
    margin-right: 6px;
    background: transparent;
}
.perc-wb-list-menu {
    padding-right: 20px;
    width: 240px;
}
.perc-wb-list-buttonbar .perc-font-icon {
    float: right;
    margin-right: 4px;
}
