

#perc-saveas-dialog-location {
    width: 250px;
}

#perc-saveas-dialog-direc {
    border: 1px inset #FFFFFF;
    height: 150px;
    width: 250px;
    overflow:auto;
	background-color:#FFFFFF;
}

#perc-saveas-dialog-direc img {
    margin-right:3px;
}

#perc-saveas-dialog-error {
    color: red;
}

/* JGA { 1/7/2010 : removed dependency from perc_mcol.css
.mcol-listing { white-space: nowrap; display: block; 
*/
.perc-saveas-dialog-listing { white-space: nowrap; display: block; 
		padding-left: 20px; padding-right: 20px; margin-top: 10px; margin-bottom: 10px; margin-left: 1px; margin-right: 1px; }
/* } JGA */

/* JGA { 1/7/2010 : override layout.css's styling of text input fields: .perc-dialog input {width: 330px;} */
#perc-saveas-dialog-assetname	{
	width: 250px;
}

.perc-saveas-dialog { width: 500px; }
/* } JGA */
