


.perc-dashboard table {
    margin-top : 0px;
    margin-right : 0px;
}

.perc-gadget-titlebar-shadow {
}

.perc-gadget {
    background: url(../images/images/gadgetCornerTopLeft.png) white top left no-repeat;
    margin : 0px 10px 10px 0px;
}

.perc-gadget .gadgets-gadget-content {
    background-color : white;
}

.perc-gadget-menu-button {
    position : relative;
    top : -9pxpx;
    right : 12px;
}

.perc-gadget .gadgets-gadget-title {
    color :#4b4a4a;
    font-weight : normal;
}

/*
.perc-gadget-corner-top-left {
    background: url(../images/images/gadgetCornerTopLeft.png) top left no-repeat;
}
*/
.perc-ellipsis{
	overflow:hidden;
	white-space:nowrap;
	text-overflow : ellipsis;
}

.gadgets-gadget-title{
	margin-right:40px;
}
.perc-dashboard-container {
    position : relative;
    width : 100%;
}
