

#perc-asset-browser-location-dropdown {
    width: 200px;
}

#perc-asset-browser-location-dropdown-without-button {
    width: 240px;
}

#perc-asset-browser-dialog-direc{
    border: thin solid black;
    min-height: 150px;
    width: 250px;
    overflow: auto;
}


#perc-saveas-dialog-error {
    color: red;
}

.perc-saveas-dialog-listing { white-space: nowrap; display: block; 
		padding-left: 20px; padding-right: 20px; margin-top: 10px; margin-bottom: 10px; margin-left: 1px; margin-right: 1px; }

#perc-saveas-dialog-assetname	{
	width: 250px;
}

.perc-saveas-dialog { width: 500px; }

#perc-new-folder-button { width : 20px;}
