

#perc_newSiteDialog input[type=radio]
{
    height: auto;
    margin: 1px 0 5px -18px;
    padding: 0;
    position: absolute;
    width: auto;
}

#perc_newSiteDialog input[type=text]
{
    margin-bottom: 2px;
    margin-top: 3px;
}

.perc_dialog_field + p
{
    line-height:9px;
}

#perc_newSiteDialogLeft
{
    float: left;
    width: 200px;
    margin: 0;
    padding: 1em;
}

#perc_newSiteDialogRight
{
    margin-left: 260px;
    padding: 1em;
}

#perc_selectedTemplate
{
    border: 1px inset #000;
    width: 95%;
    height: 170px;
    margin-bottom: 5px;
    text-align: center;
}

#perc_selectedTemplate img
{
    margin-top: 10%;
}

.perc_sitename_field,
.perc_url_field, .perc-new-sitedlg-field
{
    height: 61px;
}
.perc-new-sitedlg-templates-field
{
    height:200px;
}
#perc_newSiteDialog .hint
{
    margin-top: 4px;
    margin-bottom: 12px;
}

.perc-dialog .perc_dialog_label.perc_dialog_label_error
{
    color: #FF0000;
}
