

.perc-report-row {
    width: 100%;
}

.perc-generate-report-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.perc-generate-report {
    display: block;
    width: 90% !important;
}

#percReportAlertTarget {
    text-align: center;
    display: block;
    bottom: 0;
    line-height: 45px;
}

body * {
    font-family: 'Open Sans', sans-serif;
}
