minLogLevel=WARNING
client_id=${desk.client.id}
client_secret=${desk.client.secret}
redirect_uri=${desk.redirect.uri}
scope=Desk.tickets.READ,Desk.contacts.READ
dc=com
logFilePath=${desk.log.file.path}
timeout=${desk.timeout.value}
proxyHost=${desk.proxyHost}
proxyPort=${desk.proxyPort}
proxyUserDomain=${desk.proxyUserDomain}
proxyUser=${desk.proxyUser}
proxyPassword=${desk.proxyPassword}