<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percussion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
      
   <context:annotation-config/>

   <bean id="propertyPlaceholderProps"
         class="com.percussion.delivery.utils.spring.PSPropertiesFactoryBean">
      <property name="ignoreResourceNotFound" value="true" />
      <property name="autoSecure" value="true" />
      <property name="securedProperties">
         <list>
            <value>ems.api.password</value>
            <value>ems.mc.api.password</value>
         </list>
      </property>
      <property name="locations">
         <!--
            One or more locations of the property files. Properties with 
            the same name override based on the order the file appears in the list last 
            one defined wins
         -->
         <list>
             <value>WEB-INF/perc-security.properties</value>
             <value>WEB-INF/perc-integrations.properties</value>
             <value>file:${catalina.home}/conf/perc/perc-encryption.properties</value>
            <value>file:${catalina.home}/conf/perc/perc-integrations.properties</value>
             <value>file:${catalina.home}/conf/perc/perc-security.properties</value>
         </list>
      </property>
      <!--
         Local properties to default to if no file exists or the properties 
         do not exist in the file DO NOT USE THESE FOR PRODUCTION, put them in the 
         properties file where the password will be encrypted
      -->
      <property name="properties">
         <props>
            <!-- default properties for encryption -->
            <prop key="encryption.type">ENC</prop>
			<prop key="ems.api.user"></prop>
			<prop key="ems.api.password"></prop>
			<prop key="ems.api.endpoint"></prop>
			<prop key="ems.mc.api.user"></prop>
			<prop key="ems.mc.api.password"></prop>
			<prop key="ems.mc.api.endpoint"></prop>
             <!-- default properties for Spring Security -->
             <prop key="contentSecurityPolicy">default-src 'self' *;</prop>
         </props>
      </property>
   </bean>
   
   <bean id="propertyConfigurer"
         class="com.percussion.delivery.utils.spring.PSPropertyPlaceholderConfigurer">
      <property name="properties" ref="propertyPlaceholderProps" />
   </bean>

   <import resource="perc-integrations.xml" />
    <import resource="security.xml" />

    <bean id="emsSoapBean" class="com.percussion.delivery.integrations.ems.EMSSOAPEventService">
   	<constructor-arg index="0" value="${ems.api.user}" />
   	<constructor-arg index="1" value="${ems.api.password}" />
   	<constructor-arg index="2" value="${ems.api.endpoint}" />   			
   </bean>
   
   <bean id="emsMCSoapBean" class="com.percussion.delivery.integrations.ems.EMSMasterCalendarSoapEventService">
    <constructor-arg index="0" value="${ems.mc.api.user}" />
   	<constructor-arg index="1" value="${ems.mc.api.password}" />
   	<constructor-arg index="2" value="${ems.mc.api.endpoint}" />    			
   </bean>
  
   <bean id="emsRestProxy" class="com.percussion.delivery.integrations.ems.PSEmsProxyRestService">
   	 <property name="service" ref="emsSoapBean"></property>
   	 <property name="mcService" ref="emsMCSoapBean"></property>
   </bean>

</beans>
