<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "classpath:/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

<session-factory>
	 <mapping class="com.percussion.delivery.comments.service.rdbms.PSComment"/>
	 <mapping class="com.percussion.delivery.comments.service.rdbms.PSCommentTag"/>
	 <mapping class="com.percussion.delivery.comments.service.rdbms.PSDefaultModerationState"/>
	 <mapping class="com.percussion.delivery.likes.service.rdbms.PSLikes"/>
</session-factory>
</hibernate-configuration>
