

.add-wizard {
	font-size:21px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-left: 50px;
	padding-top: 20px;
}

input[type=radio].css-checkbox {
  display:none;
}

input[type=radio].css-checkbox + label.css-labelradio {
  padding-left:50px;
  height:20px; 
  display:inline-block;
  font-weight: 400;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-family: 'Open Sans', sans-serif;
  vertical-align:middle;
  cursor:pointer;
  padding-right: 15px;
  font-size:21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

input[type=radio].css-checkbox:checked + label.css-labelradio {
  background-position: 0 -20px;
}
label.css-labelradio {
  background-image:url('../../components/perc-css/img/percussionRadioButtons.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-type{
	padding-top:15px;
}


.splash-text {
	padding-top: 50px;
}

.no-site-error {
    font-family: 'Open Sans', sans-serif; 
	font-weight: 600; 
	font-size:21px; 
	color: #EE5336; 
	padding-left:50px;
	padding-top: 50px;
}

.add-wizard-error {
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600; 
	font-size:21px; 
	color: #EE5336; 
	padding-left:50px;
	padding-bottom: 10px;
}
