

/**
**/
.perc-emsevent-list{
	list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    padding-left: 5px;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    box-sizing: border-box;
    text-transform: capitalize !important;
    display: inline-block;
}

.perc-emsevent-list .ui-perc-list-element{
	margin-bottom: 15px;
	float: left;
	width:100%;
}
.perc-emseventlist-calicon{
	float: left;
    min-width: 53px;
    text-align: center;
    margin-right: 10px;
    border: 2px solid #133c55;
}

.perc-emseventlist-calicon-month{
	padding: 3px 10px;
    background: #133c55;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
}

.perc-emseventlist-calicon-day{
	padding: 2px;
    text-align: center;
    color: #133c55;
    background: #FFF;
    font-weight: 700;
}

.perc-list-main .perc-emsevent-list{

}

.perc-emseventlist-title{
	
}

.perc-emseventlist-eventtitle{
	text-decoration: none;
    color: #133c55
    font-size: 1em;
}

.perc-emseventlist-date-container{
	
}
.perc-emseventlist-time-container{
	
}
.perc-emseventlist-location-container{
	
}
