<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"file:hibernate-configuration-3.0.dtd">
<hibernate-configuration>

<session-factory>
	<mapping class="com.percussion.delivery.metadata.rdbms.impl.PSDbMetadataEntry"/>
	<mapping class="com.percussion.delivery.metadata.rdbms.impl.PSDbMetadataProperty"/>   
	<mapping class="com.percussion.delivery.metadata.rdbms.impl.PSDbBlogPostVisit"/>   
    <mapping class="com.percussion.delivery.metadata.rdbms.impl.PSDbCookieConsent"/>
</session-factory>
</hibernate-configuration>
