

.percDirectory-empty-style
{
    height: 100px;
    background: transparent url(/Rhythmyx/rx_resources/widgets/percDirectory/images/percDirectoryPlaceholder.png) no-repeat scroll center center;
    filter: alpha(opacity=50);
    opacity: .50;
}
