

.percLogin-form-sample-content
{
    height: 100px;
    background: transparent url(/Rhythmyx/rx_resources/widgets/form/images/widgetformSampleBackground.png) no-repeat scroll center center;
    filter: alpha(opacity=50);
    opacity: .50;
}


.percLogin-form {
	text-align: left;
    margin: 5px 5px 20px 15px;
}

.percLogin-form h2 {color: #000000;
	display: block;
	font-family: arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-left: 15px;
}

.percLogin-form-field-row {color: #000000;
    font-family: Verdana;
    font-size: 12px;
    margin: 5px 5px 20px 15px;
}

.percLogin-form-label-required { color: #cc0000;
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.percLogin-form-label-top { color: #000000;
	display: block;
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	clear:left;
	font-weight: bold;
	margin-top: 30px;
	text-align: left;
    margin-bottom: 10px;
}

.percLogin-form-label-left { color: #000000;
	display: block;
	float: left;
	clear:left;
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	margin-right: 5px;
}

.percLogin-form-input { margin-top: 10px;
	display: block;
	margin-top: 10px;
}

.percLogin-form-button {outline: 0 none;
	margin-top: 40px;
	text-align: center;
	border: 0 none;
	cursor: pointer;
	text-align: left;
	clear:left;
	overflow: visible;
}

.percLogin-form-button button {background:#eeccff;}



