<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "classpath:/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

   <session-factory>
	    <mapping class="com.percussion.delivery.feeds.services.rdbms.PSConnectionInfo"/>
	    <mapping class="com.percussion.delivery.feeds.services.rdbms.PSFeedDescriptor"/>
   </session-factory>
</hibernate-configuration>
